body {
    font-family:'Palatino';
    padding: 30px;
    background:url('background.avif'); 
    background-size: cover;
    color: rgb(255, 255, 255);
}

nav{
    display: flex;
    gap: 10px;
    justify-content: center;
}

nav a{
    text-decoration: none;
    background-color:#FFD8D7;
    padding: 10px 10px;
    color:rgb(255, 255, 255);
    width: 150px;
    text-align: center;
    font-weight: bold;
    border: rgb(183, 159, 169);
    border-radius: 15px;
    border-style: solid;
    border-width: 1.5px;
    box-shadow: 0 5px 0px rgba(139, 59, 80, 0.7);
    text-shadow: 1px 2px 2px rgba(129, 40, 64, 0.7)

}

nav a:hover{
    transform: scale(1.08);
}

img {
    display: block;     
    border-radius: 20px;
    width: 450px;
    border: 5px white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5)
}

h1.title{
    font-size: 45px;
    cursor: default;
}

h3.major{
    margin: 5px 0 0 0;
    font-size: 22px;
    cursor: default;
}

.headerName{
    display: flex;
    flex-direction: column;
    text-align: center;
    

}

.frontPage{
    display: flex;
    align-items: center;    
    gap: 90px;            
    padding: 120px 50px 100px 50px;
    justify-content: center;
    text-shadow: 2px 3px 4px rgba(129, 40, 64, 0.7);
    
}

h3.contactTitle{
    margin-bottom: 10px;
    color: rgb(157, 88, 117)

}

.contact{
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: rgb(157, 88, 117)
}

.contactLine{
    display: flex;
}

.contactLine span{
    font-weight: bold;
    margin-right: 8px;
}

.contactLine a {
    color: rgb(157, 88, 117);
}

.contactLine a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 5px rgb(157, 88, 117);
}