body {
    font-family:'Palatino';
    padding: 70px;
    background:url('background.avif'); 
    background-size: cover;
    color: rgb(157, 88, 117);
    cursor: default;
}

nav{
    display: flex;
    gap: 10px;
    justify-content: center;
}

nav a{
    text-decoration: none;
    background-color:#FFD8D7;
    padding: 10px 10px;
    color:rgb(255, 255, 255);
    width: 150px;
    text-align: center;
    font-weight: bold;
    border: rgb(183, 159, 169);
    border-radius: 15px;
    border-style: solid;
    border-width: 1.5px;
    box-shadow: 0 5px 0px rgba(139, 59, 80, 0.7);
    text-shadow: 1px 2px 2px rgba(129, 40, 64, 0.7)

}

nav a:hover{
    transform: scale(1.08);
}

h1.company{
    font-size: 25px;
    margin: 0
}

.jobTitleDate {
    display: flex;
    justify-content: space-between;
    align-items: center;         
}

.leftSideJob {
    display: flex;
    flex-direction: column;  
}

p.jobtitle{
    margin: 6px 0px 2px 0px;
    font-size: 18px
}

p.desc{
    margin: 8px 0px 2px 0px

}

.job:first-of-type {
    margin-top: 50px;   
}

.job{
    margin: 20px 50px 20px 50px;
    background-color:#ffffff;
    border: rgb(152, 107, 126);
    border-radius: 15px;
    border-style: solid;
    border-width: 1.5px;
    padding: 30px 30px 18px 30px;

}


ol.joblist{
    list-style-type: square; 
}


h3.contactTitle{
    margin-top: 50px;
    margin-bottom: 8px;

}


.contact{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contactLine{
    display: flex;
}

.contactLine span{
    font-weight: bold;
    font-family: Georgia;
    margin-right: 8px;
}

.contactLine a {
    color: rgb(157, 88, 117);
}

.contactLine a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 5px rgb(157, 88, 117);
}


.projectTitleDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSideProject{
    display: flex;
    gap:5px;
    align-items: center;
}